#General Module
asgiref==3.8.1
Django==4.2.11
python-decouple==3.8
sqlparse==0.5.5
typing_extensions==4.13.2
python-decouple==3.8
djangorestframework
Pillow
gunicorn

#Third Party Module
markdown
django-filter
pygments
drf-yasg[validation]
djangorestframework-simplejwt
django-mail-templated
flake8
Faker
django-cors-headers
locust
celery[redis]
django-celery-beat
django-redis



# test Module
pytest-django
pytest