{% extends 'base.html' %}

{% block title %}

{{ title }}

{% endblock %}

{% block content %}

<div class="card form-card">

    <h2>{{ title }}</h2>

    <form method="post">

        {% csrf_token %}

        <div class="form-group">

            <label>

                عنوان

            </label>

            {{ form.title }}

        </div>

        <div class="form-group">

            <label>

                توضیحات

            </label>

            {{ form.description }}

        </div>

        <div class="buttons">

            <button
                    class="btn btn-primary"
                    type="submit">

                ذخیره

            </button>

            <a
                    class="btn btn-secondary"
                    href="{% url 'ToDoApp:dashboard' %}">

                بازگشت

            </a>

        </div>

    </form>

</div>

{% endblock %}